main {
  background: white;
  background: linear-gradient(to right, #deecf0, white 15%, white 85%, #deecf0);
}
@media screen and (max-width: 1400px) {
  main {
    background: linear-gradient(to right, #deecf0, white 10%, white 90%, #deecf0);
  }
}
@media screen and (max-width: 1200px) {
  main {
    background: linear-gradient(to right, #deecf0, white 8%, white 92%, #deecf0);
  }
}
@media screen and (max-width: 1140px) {
  main {
    background: white;
  }
}
main .content-wrap:before {
  display: block;
  content: '';
  position: absolute;
  top: .7rem;
  left: 0;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  width: 3px;
  height: calc(100% + 2.5vw);
  background: linear-gradient(to bottom, #40E0D0, rgba(46, 206, 241, 0));
}
@media only screen and (max-width: 780px) {
  main .content-wrap:before {
    height: calc(100% + 2rem);
  }
}
@media only screen and (max-width: 529px) {
  main .content-wrap:before {
    left: 0.2rem;
  }
}
main .content-wrap:before {
  top: -22px;
  left: initial;
  height: calc(2.5vw + 22px);
}
@media only screen and (max-width: 780px) {
  main .content-wrap:before {
    height: calc(2rem + 22px);
  }
}
@media only screen and (max-width: 529px) {
  main .content-wrap:before {
    margin-left: 0.2rem;
  }
}

section {
  padding-left: 5%;
}

main section {
  position: relative;
}
main section + section {
  margin-top: 2.5vw;
}
@media only screen and (max-width: 780px) {
  main section + section {
    margin-top: 2rem;
  }
}
main section:before {
  display: block;
  content: '';
  position: absolute;
  top: .7rem;
  left: 0;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  width: 3px;
  height: calc(100% + 2.5vw);
  background: linear-gradient(to bottom, #40E0D0, rgba(46, 206, 241, 0));
}
@media only screen and (max-width: 780px) {
  main section:before {
    height: calc(100% + 2rem);
  }
}
@media only screen and (max-width: 529px) {
  main section:before {
    left: 0.2rem;
  }
}
main section:after {
  display: block;
  font-family: 'FontAwesome';
  content: '\f192';
  position: absolute;
  top: .55rem;
  left: 0;
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
  font-size: 2rem;
  height: 1.6rem;
  width: 1.6rem;
  color: #40E0D0;
  text-align: center;
  line-height: 1.6rem;
  background: white;
  border-radius: 50%;
}
@media (small) {
  main section:after {
    left: 0.2rem;
  }
}

.work-history {
  overflow: hidden;
  margin-bottom: .5rem;
}
.work-history ul {
  position: relative;
  margin: 0;
  list-style: none;
  text-align: right;
  font-size: 0;
  padding: 0;
}
.work-history li {
  display: inline-block;
  margin: 0;
  position: relative;
  width: 33.33%;
  text-align: left;
  overflow: hidden;
  z-index: 1;
  color: #40E0D0;
}
@media only screen and (max-width: 780px) {
  .work-history li {
    width: 50%;
    margin: 0 !important;
  }
  .work-history li.employer {
    width: 100%;
  }
  .work-history li.employer:before {
    content: '';
  }
}
@media screen and (max-width: 450px) {
  .work-history li {
    width: 100%;
  }
}
.work-history li:last-of-type {
  text-align: right;
}
.work-history li > * {
  display: inline-block;
  background: white;
}
.work-history li span {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: normal;
}
.work-history li:before {
  position: absolute;
  top: .1rem;
  display: block;
  z-index: -1;
  float: left;
  width: 0;
  white-space: nowrap;
  color: #262228;
  font-size: 1.6rem;
  letter-spacing: -.1rem;
  opacity: .3;
  content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
}

.achievements h4 {
  background: transparent;
}

.achievements:before {
  display: block;
  font-family: 'FontAwesome';
  content: '\f192';
  font-size: 1.25rem;
  color: #40E0D0;
  position: absolute;
  top: -.08rem;
  left: -1.5vmax;
}
@media only screen and (max-width: 529px) {
  .achievements:before {
    left: -2rem;
  }
}

.technical-skills {
  padding-top: 1rem;
}
@media only screen and (max-width: 780px) {
  .technical-skills {
    margin-bottom: 0;
  }
}

.technical-skill {
  width: calc((100% - 2rem) / 3);
  border: .3rem solid;
  padding: .5rem;
}
.technical-skill:last-of-type {
  position: relative;
  left: calc((100% - 2rem) / 3 + 1rem);
  margin-bottom: 0;
}
@media only screen and (min-width: 530px) and (max-width: 780px) {
  .technical-skill {
    width: calc((100% - 1rem) / 2);
  }
  .technical-skill:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .technical-skill:last-of-type {
    left: initial;
  }
}
@media only screen and (max-width: 529px) {
  .technical-skill {
    width: calc((100% - 0rem) / 1);
  }
  .technical-skill:nth-last-child(-n+3) {
    margin-bottom: 1rem;
  }
  .technical-skill:last-of-type {
    left: initial;
    margin-bottom: 0;
  }
}

.skill-logo {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 4rem;
  height: 4rem;
}
.skill-logo svg {
  position: absolute;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  left: 0;
  width: 4rem;
  height: 4rem;
}

.skill-info {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0 0 5px;
}

.skill-level {
  font-size: 1.3rem;
  display: block;
}

.photoshop {
  background: #17153D;
  color: #bcf4fd;
  border-color: #0FD8F7;
  
}
.photoshop h4 {
  color: #0FD8F7;
}

.node {
  background: #000;
  color: #ffeff5;
  border-color: #539e43;
  
}
.node h4 {
  color: #539e43;
}

.python {
  background: #1e415e;
  color: #ffb3b3;
  border-color: #FFCF3F;
  
}
.python h4 {
  color: #FFCF3F;
}

.illustrator {
  background: #310F00;
  color: #ffe9d5;
  border-color: #FF8F22;
  
}
.illustrator h4 {
  color: #FF8F22;
}

.css {
  background: #002A04;
  color: #c6fdc0;
  border-color: #29F912;
  
}
.css h4 {
  color: #29F912;
}

.html {
  background: #290000;
  color: #ffcdb3;
  border-color: #FF5900;
  
}
.html h4 {
  color: #FF5900;
}

.wordpress {
  background: #000;
  color: #dad9d9;
  border-color: #827F7E;
  
}
.wordpress h4 {
  color: #827F7E;
}

.php {
  background: #4F5B93;
  color: #feebc8;
  border-color: #8892bf;
  
}
.php h4 {
  color: #8892bf;
}

.git {
  background: #200F00;
  color: #fcd7ce;
  border-color: #F05127;
  
}
.git h4 {
  color: #F05127;
}

.javascript {
  background: #000D2D;
  color: #8be1ff;
  border-color: #00A0D7;
  
}
.javascript h4 {
  color: #00A0D7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Exo 2', sans-serif;
  color: #40E0D0;
  font-weight: bold;
  margin: 0;
  line-height: 1;
}

h1,
h2 {
  text-transform: uppercase;
}

h3,
h4 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 4rem;
  color: white;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

::-moz-selection {
  background: #40E0D0;
  color: white;
}

::selection {
  background: #40E0D0;
  color: white;
}

::-moz-selection {
  background: #40E0D0;
  color: white;
}

section {
  color: #2a4d58;
}

.work-history + ul {
  color: #042029;
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 0;
}
p + p {
  margin-top: 1rem;
}

ul {
  font-size: 1.5rem;
  margin-top: .8vmax;
  margin-bottom: 2rem;
  padding-left: 1.5vmax;
}
@media only screen and (max-width: 780px) {
  ul {
    margin-top: 1rem !important;
  }
}
@media only screen and (max-width: 529px) {
  ul {
    padding-left: 2rem;
  }
}
ul li {
  position: relative;
  line-height: 1.4;
  list-style: none;
}
ul li + li {
  margin-top: .8vmax;
}
@media only screen and (max-width: 780px) {
  ul li + li {
    margin-top: 1rem !important;
  }
}
ul li:before {
  display: block;
  content: '•';
  position: absolute;
  top: -.1rem;
  left: -2rem;
  /* IE */
  left: -1.5vmax;
  color: #2a4d58;
}
@media only screen and (max-width: 529px) {
  ul li:before {
    left: -2rem;
  }
}
ul.skills {
  font-size: 1.5rem;
}

.ampersand {
  font-family: "Lato", sans-serif;
}

.contact-info {
  position: relative;
  display: inline-block;
  width: 40%;
  max-width: 300px;
  text-align: left;
}
@media only screen and (max-width: 780px) {
  .contact-info {
    display: block;
    text-align: center;
    width: auto;
    max-width: 100%;
  }
}
.contact-info h3 {
  position: relative;
  text-transform: uppercase;
  color: white;
}
@media only screen and (max-width: 780px) {
  .contact-info h3 {
    margin-top: 1rem;
  }
}
.contact-info h3:after {
  display: block;
  content: '';
  position: absolute;
  bottom: -.3rem;
  left: 0;
  width: 100%;
  height: .2rem;
  background: linear-gradient(to right, white, #40E0D0 50%, rgba(46, 206, 241, 0));
}
@media only screen and (max-width: 780px) {
  .contact-info h3:after {
    background: linear-gradient(to right, rgba(46, 206, 241, 0), #40E0D0 25%, white 50%, #40E0D0 75%, rgba(46, 206, 241, 0));
  }
}
.contact-info nav {
  float: right;
}
@media only screen and (max-width: 780px) {
  .contact-info nav {
    float: none;
    text-align: center;
  }
}
.contact-info a {
  display: block;
  position: relative;
  margin: 1rem 0 .8rem 0;
  padding-left: 2rem;
  color: #cff6ff;
  font-size: 1.4rem;
  line-height: 1;
  text-decoration: none;
}
.contact-info a:first-child {
  position: absolute;
  left: 0;
}
@media only screen and (max-width: 780px) {
  .contact-info a {
    position: relative !important;
    display: inline-block;
    margin: 1rem 1.5rem 0 1.5rem;
  }
  .contact-info a:last-child {
    margin-bottom: 0.8rem;
  }
}
.contact-info a:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 100%;
  text-align: center;
  font-family: 'FontAwesome';
  color: #40E0D0;
}
.contact-info a span {
  transition: color 0.3s cubic-bezier(0.19, 0.02, 0, 0.99);
  position: relative;
}
.contact-info a span:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -.2rem;
  height: .2rem;
  width: 100%;
  opacity: 0;
  -webkit-transform: perspective(1px) scaleX(0);
          transform: perspective(1px) scaleX(0);
  background: #40E0D0;
  transition: all 0.3s cubic-bezier(0.19, 0.02, 0, 0.99);
}
.contact-info a:hover, .contact-info a:active {
  color: white;
}
.contact-info a:hover span:after, .contact-info a:active span:after {
  opacity: 1;
  -webkit-transform: perspective(1px) scaleX(1);
          transform: perspective(1px) scaleX(1);
}
.contact-info a.contact-info--location:before {
  content: "";
}
.contact-info a.contact-info--website:before {
  content: '\f245';
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
.contact-info a.contact-info--email:before {
  content: '\f0e0';
  font-size: 88%;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.contact-info a.contact-info--phone:before {
  content: "";
}
